#Python - Data Structure

Q1. What are data structures, and why are they important?

-> Data structures in Python are specialized formats or containers used to store and organize data efficiently.
They are important because provide various ways to store, access, and manipulate data according to specific needs.
ex:- list,sets,touple,dictionaries,array.

Q2. Explain the difference between mutable and
     immutable data types with examples.

-> Mutable datatypes are which allow us to change there content after there creation. ex- lists allow us to change it conatin after creation.
l=[1,2,3,4]
l[0]=9
print(l)
[9,2,3,4]

here we can see that we can make changes in list, So list are mutable.

Immutable datatypes are opposite to mutable, they do not allow to make changes in them after there creation. ex:- tuples don't allow to change them after there creation.
l=(1,2,3,4)
l[0]=9
TypeError: 'tuple' object does not support item assignment

here we can see that touple don't allow us to make changes, so tuples are immutable.

Q3.  What are the main differences between lists and
     tuples in Python?

->  The main difference between lists and tuples is that list are mutable and tuples are immutable. list are us to make changes while tuples don't and list are enclosed in [] while tuples are enclosed in( ).
list=[1,2,3,4]
tuple=(1,2,3,4)

Q4. Describe how dictionaries store data.

-> Dictionaries store data inform of key-value pairs that allow you to store and retrieve data based on unique key.
dict={1:'hello',2:'hi',3:'ola'}
here 1,2,3 are keys and hello,hi,ola are value.The keys must be immutable, such as strings or numbers.

Q5. Why might you use a set instead of a list in Python?

-> Sets are unordered collections of unique elements. They are useful when you need to work with distinct items and perform set operations like union, intersection, and difference.

Think of a set as your shopping list. You want to buy specific items at the grocery store. Your shopping list contains unique items, and you can add or remove items as needed. You don't want duplicates on your list,and you can quickly check whether an item is on your list or not. If you decide not to buy an item, you remove
it from the list.

Q6. What is a string in Python, and how is it different from a list?

-> string are the sequence of character enclosed in " " or ' ', while list are sequnce of item enclosed in [ ] and also string are immutable while list are mutable.

ex:- str="hello world"
lst=['h','e','l','l','o']

Q7. How do tuples ensure data integrity in Python?

-> Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table is a data structure that stores key-value pairs and uses a hashing function to compute an index (a hash) into an array of buckets or slots, from which the desired value can be found.

The keys of the dictionary are hashable i.e. the are generated by hashing function which generates unique result for each unique value supplied to the hash function.

When you use a dictionary like my_dict["name"] = "Alice", Python:Hashes the key "name" using a built-in hash function.Uses that hash to find a position in an internal array.Stores the key-value pair at that position (handling collisions if needed).

Q9. Can lists contain different data types in Python?

-> Yes list can contain different data types in pyhton.ex- lst=[1,[2,3],(3,4),{1,2,3,4},{1:'hi',2:'hello'},0.6,'hi'], here we can see list contain different data types.

Q10. Explain why strings are immutable in Python?

-> Immutability ensures one reference does not change the value for others pointing to the same string. Security: Strings are used for sensitive data like usernames and passwords. Immutability prevents attackers from altering the values.

Q11. What advantages do dictionaries offer over lists for certain tasks?

->

1.   With dictionaries, you can access values directly by key — super fast, no matter how big the dictionary is.
2.   Dictionaries make data self-descriptive.
3.   No Need to Remember Index Positions just use key.

Q12.  Describe a scenario where using a tuple would be preferable over a list.

-> Coordinates of a point in 2D space.

Why a tuple?

You don’t want the coordinates to change accidentally.

You know the number and type of elements is fixed (always x and y).

You might use it as a key in a dictionary (tuples are hashable, lists aren’t).

Q13. How do sets handle duplicate values in Python?

-> sets don't store duplicate value, if duplicate value is passed then it will consider it has a single value and will not store the re-enter value.

Q14. How does the “in” keyword work differently for lists and dictionaries?

-> When we use "in" in list then it will search for the item present in the list.

l=[1,2,3]

1 in l # return True

while "in" in dictionaries will search for key present in dictionaries.

dic ={1:'hello',2:'hi'}

3 in dic # return False

Q15. Can you modify the elements of a tuple? Explain why or why not.

-> No!, we can't modify the element of tuples because the tuples are immmutable mean they will not allow to make changes in them.

if we want to make changes we have to make new tuple, This is the only way.

Q16. What is a nested dictionary, and give an example of its use case?

-> Nested dictionary mean using a dictionary inside a dictionary as a value.

use case is Student Records (Multiple Fields per Student)

students = {
    "101": {"name": "Alice", "marks": {"math": 90, "science": 85}},
    "102": {"name": "Bob", "marks": {"math": 78, "science": 88}}
}

Q17. Describe the time complexity of accessing elements in a dictionary?

-> O(1), beacuse we will use index of hash table to find the position of the element which will every time require same time to find the element.

Q18.In what situations are lists preferred over dictionaries?

-> List are preferred i situatuion were we need to store duplicate data and where we don't need to have descriptive of data. where the order of data is important.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> This was because Python dictionaries relied on a hash table to store keys and values, and the hash function doesn’t guarantee order — it’s designed to optimize fast lookups, inserts, and deletions.

This make data retriveal fast i.e O(1).

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

-> With lists, you retrieve items based on index, which can be slow (O(n)) if you don’t know the index in advance.

With dictionaries, you retrieve items based on key, which is constant time (O(1)) on average.

##Practical Questions

In [2]:
#Q1. Write a code to create a string with your name and print it.

name=input("Enter your name:")
print(name)

Enter your name:Tanay Tiwari
Tanay Tiwari

In [3]:
#Q2. Write a code to find the length of the string "Hello World".

len("Hello World")

11

In [4]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming".

str="Python Programming"
print(str[:3])

Pyt

In [5]:
#Q4. Write a code to convert the string "hello" to uppercase.

str="hello"
str.upper()

'HELLO'

In [10]:
#Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

str="I like apple"
update=str.replace("apple","orange")
print(update)

I like orange

In [11]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.

lst=[]
for i in range(1,6):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5]

In [12]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [15]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst=['a', 'b', 'c', 'd']
lst[1]

'b'

In [18]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst=[10, 20, 30, 40, 50]
lst=lst[::-1]
print(lst)

[50, 40, 30, 20, 10]

In [19]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup=(100,200,300)
print(tup)

(100, 200, 300)

In [20]:
#Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup=('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [22]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
min(tup)

5

In [23]:
#Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup= ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [24]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup=('apple','guava','pine')

'kiwi' in tup

False

In [25]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [26]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [27]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [28]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [29]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a={1,2,3}
b={2,3,4}
print(a&b)

{2, 3}

In [30]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic={'name':'Tanay','age':21,'city':'chandrapur'}
print(dic)

{'name': 'Tanay', 'age': 21, 'city': 'chandrapur'}

In [36]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic2={'name': 'John', 'age': 25}
dic2['country']='USA'
print(dic2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic3={'name': 'Alice', 'age': 30}
dic3['name']

'Alice'

In [39]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic4.pop('age')
print(dic4)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dic5= {'name': 'Alice', 'city': 'Paris'}

'city' in dic5

True

In [44]:
#Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

lst=[1,2,3,4]
tup=(1,2,3,4)
dic6={'name': 'Bob', 'age': 22, 'city': 'New York'}

print(lst)
print(tup)
print(dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Alice', 'age': 30}

In [49]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random

lst=[random.randint(1,100) for i in range(5)]
update=sorted(lst)
print(update)

[6, 17, 40, 54, 64]

In [51]:
#Q28. Write a code to create a list with strings and print the element at the third index.

lst=["i am waiting"]
print(lst[0][2])

a

In [54]:
#Q29.  Write a code to combine two dictionaries into one and print the result.

dic7={'name':'Tanay','age':21,'city':'chandrapur'}
dic8={'Taluka':'Delhi'}
dic7.update(dic8)
print(dic7)

{'name': 'Tanay', 'age': 21, 'city': 'chandrapur', 'Taluka': 'Delhi'}

In [55]:
#Q30. Write a code to convert a list of strings into a set.

lst=['hi','bye','hello']
set(lst)

{'bye', 'hello', 'hi'}